<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <style>
        header{
            text-align: center;
        }
        header a{
            text-decoration: none;
            color: black;
            font-weight: bold;
            font-size: 30px;
        }
    </style>
    
</head>
<body>
    <header>
        <div style="text-align: center; font-weight: bold;">
            <a href="{% url 'home' %}">MBTI</a>
        </div>
    </header>
    
    제목 : <!--{{ post.post_text }}  -->
    내용 : {{ content }}
    댓글 <br>
    <!-- {% for comment in post.comment_set.all %}
        {{ post.post_text }}
    {% endfor %} -->
    <a href="{% url 'edit' post_id %}">수정하기</a>
    <a href="{% url 'edit' post_id %}">삭제하기</a>
    <!-- 삭제하는 방법 확인 -->
</body>
</html>