<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MBTI TEST</title>
</head>
<body>
    <div style="text-align: center; font-weight: bold;">
        <a href="{% url 'home' %}">MBTI</a>
    </div>
    MBTI TEST <br>
    <form action="{% url 'mbtitest' %}" method="post">
        {% csrf_token %}
        1. 나는 혼자 있는 시간을 좋아한다. <br>
        YES : <input type="radio" name="first_question" value="mbti_i" required> <br>
        NO : <input type="radio" name="first_question" value="mbti_e"> <br>
        2. 나는 혼자 있는 시간에 재미있는 상상을 주로 하곤 한다. <br>
        YES : <input type="radio" name="second_question" value="mbti_n" required> <br>
        NO : <input type="radio" name="second_question" value="mbti_s"> <br>
        3. 나는 영화를 보면서 눈물을 흘린 적이 있다. <br>
        YES : <input type="radio" name="third_question" value="mbti_f" required> <br>
        NO : <input type="radio" name="third_question" value="mbti_t"> <br>
        4. 현재 나의 책상은 정리되어 있다. <br>
        YES : <input type="radio" name="fourth__question" value="mbti_j" required> <br>
        NO : <input type="radio" name="fourth__question" value="mbti_p"> <br>
        <input type="submit" value="제출">
    </form>
</body>
</html>