<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<body>
    회원 가입 페이지 입니다. <br>
    <form action="" method="post">
        ID : <input type="text" id="user_id" required><br>
        PW : <input type="password" id="user_pw" required><br>
        nickname : <input type="text" id="user_nickname" required><br>
        <input type="submit" value="회원 가입 하기"><br>
    </form>

</body>
</html>