<style>
    header{
            text-align: center;
        }
        header a{
            text-decoration: none;
            color: black;
            font-weight: bold;
            font-size: 30px;
        }
        .posttext_field{
            text-align: center;
            display: flex;
            justify-content: center;
        }
        fieldset{
            width: 70%;
            display: flex;
            justify-content: center;
        }
</style>
<header>
    <div style="text-align: center; font-weight: bold;">
        <a href="{% url 'home' %}">MBTI</a>
    </div>
</header>
<div class="posttext_field">
    <fieldset>
        <legend style="text-align: center;">글 작성</legend>
        <form action = "{% url 'new'%}" method = "POST">
            {% csrf_token %}
            <div>

                <label for = "title">제목</label><br>
                <input type = "text" name = "title" id = "title" required>
                <br><br>
            </div>
            <div>
                <label for = "body">본문</label><br>
                <textarea name = "body" id = "body" cols = "30" rows = "10" required></textarea>
                <br><br>
            </div>
            <input type="submit" value = "글 작성">
            <br>
        </form>
    </fieldset>
</div>


